@charset "utf-8";
/* CSS Document */


#article_list .article{
	border-bottom:#666 solid 2px;
}

#article_show .article{
	
}

#article_list .article > .article_title{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	font-weight:bolder;
}

#article_show .article > .article_title{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	font-weight:bolder;
	text-align:center;
}

.article > .article_property{

}
.article_property  span{
	padding: 3px 0 3px 30px;
	background:url(../img/icons.png) no-repeat;
	line-height:20px;
}
.article > .article_property > .article_publish_time{
	color:#F00;
	background-position: 5px 0;
}

.article > .article_property > .article_author{
	background-position: 5px -20px;
}

.article > .article_property > .article_category{
	background-position: 5px -40px;
}

.article > .article_property > .article_tag{
	background-position: 5px -80px;
}

.article > .article_preview{

}

.article > .article_full_text{
	
}