@charset "utf-8";
/* CSS Document */

.tool{

}
.tool > p {
	margin:0px;
}
.tool > .tool_title{
	border-bottom:#900 solid 5px;
	border-radius:1px;
	font-weight:bolder;
	font-size:18px;
	padding:5px 10px;
}

.tool > .tool_content{

}
.tool > .tool_content > ul{
	padding:0px 10px;
}

.tool > .tool_content > ul > li{
	list-style:none;
	border-bottom:#999 dashed 1px;
	padding:5px 20px 5px 0px;
	overflow:hidden;
	white-space:nowrap;
}

.tool > .tool_content > ul > li > a{
	color:#000;
	text-decoration:none;
	font-size:18px;
	font-weight:bolder;
}

.tool > .tool_content > ul > li > a:hover{
	color:#900;
	padding-left:20px;
}
.tool > .tool_content > ul > li > a > span{
	color:#F00;
	font-size:14px;
}

.tool #category li{

}

.tool #category li > a > span{
	
}

.tool #latest_article_list li > a {
	text-decoration:none;
	font-size:14px;
}

.tool #latest_article_list li > a > span{
	font-size:8px;
}

.tool #my_links li a{
	font-size:14px;
	font-weight:normal;
}

.tool #my_links li > a > span{
	
}

