@charset "utf-8"
/* global css*/

*{ margin:0px; padding:0px;}
.clear{ clear:both; }
body{ background:#CCC;}
#wrapper{margin:auto;width: 1024px;}
#header{}
/**********************************************************/
@keyframes tagAnimation
{
from 
{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);		/* IE 9 */
	-webkit-transform: rotate(0deg);	/* Safari and Chrome */
	-o-transform: rotate(0deg);		/* Opera */
	-moz-transform: rotate(0deg);		/* Firefox */
	transform:rotateX(0deg);
	-webkit-transform:rotateX(0deg); /* Safari and Chrome */
	-moz-transform:rotateX(0deg); /* Firefox */
}
to 
{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);		/* IE 9 */
	-webkit-transform: rotate(360deg);	/* Safari and Chrome */
	-o-transform: rotate(360deg);		/* Opera */
	-moz-transform: rotate(360deg);		/* Firefox */
	transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg); /* Safari and Chrome */
	-moz-transform:rotateX(360deg); /* Firefox */
}
}

@-moz-keyframes tagAnimation /* Firefox */
{
from 
{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);		/* IE 9 */
	-webkit-transform: rotate(0deg);	/* Safari and Chrome */
	-o-transform: rotate(0deg);		/* Opera */
	-moz-transform: rotate(0deg);		/* Firefox */
	transform:rotateX(0deg);
	-webkit-transform:rotateX(0deg); /* Safari and Chrome */
	-moz-transform:rotateX(0deg); /* Firefox */
}
to 
{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);		/* IE 9 */
	-webkit-transform: rotate(360deg);	/* Safari and Chrome */
	-o-transform: rotate(360deg);		/* Opera */
	-moz-transform: rotate(360deg);		/* Firefox */
	transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg); /* Safari and Chrome */
	-moz-transform:rotateX(360deg); /* Firefox */
}
}

@-webkit-keyframes tagAnimation /* Safari 和 Chrome */
{
from 
{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);		/* IE 9 */
	-webkit-transform: rotate(0deg);	/* Safari and Chrome */
	-o-transform: rotate(0deg);		/* Opera */
	-moz-transform: rotate(0deg);		/* Firefox */
	transform:rotateX(0deg);
	-webkit-transform:rotateX(0deg); /* Safari and Chrome */
	-moz-transform:rotateX(0deg); /* Firefox */
}
to 
{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);		/* IE 9 */
	-webkit-transform: rotate(360deg);	/* Safari and Chrome */
	-o-transform: rotate(360deg);		/* Opera */
	-moz-transform: rotate(360deg);		/* Firefox */
	transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg); /* Safari and Chrome */
	-moz-transform:rotateX(360deg); /* Firefox */
}
}

@-o-keyframes tagAnimation /* Opera */
{
from 
{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);		/* IE 9 */
	-webkit-transform: rotate(0deg);	/* Safari and Chrome */
	-o-transform: rotate(0deg);		/* Opera */
	-moz-transform: rotate(0deg);		/* Firefox */
	transform:rotateX(0deg);
	-webkit-transform:rotateX(0deg); /* Safari and Chrome */
	-moz-transform:rotateX(0deg); /* Firefox */
}
to 
{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);		/* IE 9 */
	-webkit-transform: rotate(360deg);	/* Safari and Chrome */
	-o-transform: rotate(360deg);		/* Opera */
	-moz-transform: rotate(360deg);		/* Firefox */
	transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg); /* Safari and Chrome */
	-moz-transform:rotateX(360deg); /* Firefox */
}
}
#header .tag{
	width:175px;
	height:85px;
	margin-left:20px;
	background:#FFF;
	border:#000 solid 1px;
	padding:10px 0px;
	box-shadow:10px 10px 10px #666;
	animation: tagAnimation 5s;
	-moz-animation: tagAnimation 5s;	/* Firefox */
	-webkit-animation: tagAnimation 5s;	/* Safari 和 Chrome */
	-o-animation: tagAnimation 5s;	/* Opera */
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite; /* Safari 和 Chrome */
}

#header .tag span{
	text-align:center;
	display:block;
	padding:10px 0px;
}
/**********************************************************/
.menu{
	padding:10px;
	background:#333;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
}

.menu li{
	display:inline;
	margin:0px  20px;
	padding:10px 10px;
	color:#FFF;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
	font-weight:bolder;
}

.menu li:hover{
	background:#999;
	cursor:pointer;
}

#content{
	
}

#content > #article_list{
	padding:10px;
	width:740px;
	border:#333 solid 2px;
	border-radius:10px;
	float:left;
}

#content > #tools{
	padding:5px;
	width:240px;
	float:right;
	border:#333 solid 2px;
	border-radius:10px;
}

footer{
	text-align:center;
	margin:5px;
}

