---
layout: default
title:	我的blog
---
	<h2>{{ page.title}}</h2>
	<p>最新文章</p>
	<ul>
		{% for post in site.posts %}
		<li>{{ post.date | date_to_string }}
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endfor %}
		
		{% highlight c++ lineno %}
		#include<head.h>
		int main()
		{
			printf("hello world!\n");
			return 0;
		}
		{% endhighlight %}
		
		
		<h4>Category</h4>
		<ul>
			{% for category in site.categories %}
			<li><a href="/categories/{{ category | first }}" title="view all posts">{{ category | first }} {{ category | last | size }}</a>
			</li>
			{% endfor %}
</ul>
	</ul>