<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="{{ site.baseurl }}/css/global_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/header_tag_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/header_menu_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/content_article_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/content_tool_01.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
    	{% include header.html %}
        <div id="content">
        	<div id="article_show">
            	<div class="article">
                	<p class="article_title">{{ page.title }}</p>
                    <p class="article_property"> 
                    	<span class="article_publish_time">{{ page.date | date_to_string }}</span>
						<span class="article_author">{{ page.author }}</span>
						<span class="article_category">{{ page.categories }}</span>
						<span class="article_tag">{{ page.tags }}</span>
                    </p>
                    <p class="article_full_text">
                    	{{ page.content }}
                    </p>
                </div>
            </div>
            {% include tools.html %}
            <div class="clear"></div>
        </div>
		{% include footer.html %}
    </div>
</body>
</html>
