<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="{{ site.baseurl }}/css/global_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/header_tag_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/header_menu_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/content_article_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/content_tool_01.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrapper">
    	<div id="header">
        	<div class="tag">
            	<span style="font-size:28px; font-weight:bolder; font-family:Tahoma, Geneva, sans-serif">xzben'Blog</span>
            	<span style="font-size:12px; color:#333; ">见证我成长的足迹</span>
            </div>
            <ul class="menu">
                <li><a href="{{ site.baseurl }}">首页</a></li>
  				{% for category in site.categories %}
                <li><a href="/categories/{{ category | first }}">{{ category | first }} </a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="content">
        	<div id="article_list">
				{% for post in site.posts %}
				<div class="article">
					<p class="article_title">{{ post.title }}</p>
					<p class="article_property"> 
						<span class="article_publish_time">{{ post.date | date_to_string }}</span>
						<span class="article_author">{{ post.author }}]/span>
						<span class="article_category">{{ post.categories }}</span>
						<span class="article_tag">{{ post.tag }}</span>
					</p>
					<p class="article_preview">
						{{ post.content }}
					</p>
				</div>
				{% endfor %}
			</div>
            <div id="tools">
            	<div class="tool">
                	<p class="tool_title">Category</p>
                	<div class="tool_content">
                    	<ul id="category">
                           	{% for category in site.categories %}
							<li><a href="/categories/{{ category | first }}" title="view all posts">{{ category | first }}<span>({{ category | last | size }})</span></a></li>
							{% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tool">
                	<p class="tool_title">近期文章</p>
                	<div class="tool_content">
                    	<ul id="latest_article_list">
							{% for post in site.posts %}
							<li><a href="{{ site.baseurl }}/{{ post.url }}" title="{{ post.title }}[{{ post.date | date_to_string }}]">{{ post.title }}</a><span>[{{ post.date | date_to_string }}]</span></li>
							{% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tool">
                	<p class="tool_title">我的链接</p>
                	<div class="tool_content">
                    	<ul id="my_links">
                           <li><a href="#">我的链接</a></li>
                           <li><a href="#">我的链接</a></li>
                           <li><a href="#">文章名字</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <footer>
        	&copy;copyright blog.xzben.com 2014
        </footer>
    </div>
</body>
</html>
