<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="{{ site.baseurl }}/css/global_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/header_tag_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/header_menu_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/content_article_01.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/css/content_tool_01.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrapper">
    	 {% include header.html %}
        <div id="content">
        	<div id="article_list">
				{% for post in site.posts %}
				<div class="article">
					<p class="article_title">{{ post.title }}</p>
					<p class="article_property"> 
						<span class="article_publish_time">{{ post.date | date_to_string }}</span>
						<span class="article_author">{{ post.author }}</span>
						<span class="article_category">{{ post.categories }}</span>
						<span class="article_tag">{{ post.tag }}</span>
					</p>
					<p class="article_preview">
						{{ post.content }}
					</p>
				</div>
				{% endfor %}
			</div>
           {% include tools.html %}
            <div class="clear"></div>
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
